Kivy==2.3.1
kivymd @ git+https://github.com/kivymd/KivyMD/@d2f77408999d0298cfbdf75c89d66649880d7492
materialyoucolor==3.0.4
materialshapes==0.3
exceptiongroup==1.2.1
asyncgui==0.6.2
asynckivy==0.6.3
msal==1.33.0
Office365-REST-Python-Client==2.5.9
pytz==2026.3.post1
pillow==12.3.0
