Kivy==2.3.0
kivymd @ git+https://github.com/kivymd/KivyMD/@d2f77408999d0298cfbdf75c89d66649880d7492
materialyoucolor==2.0.9
exceptiongroup==1.2.1
asyncgui==0.6.2
asynckivy==0.6.3
msal==1.33.0
Office365-REST-Python-Client==2.5.9
pytz==2022.1
pillow==11.3.0
